@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Amiri');
// @import '~devicon/devicon.css';

$font-primary: 'Lato', sans-serif;
$font-title: 'Poppins', serif;
$font-arabic: 'Amiri', 'Lato', sans-serif;
// $font-devicon: 'devicon';

.font-primary {
  font-family: $font-primary !important;
}

.font-title {
  font-family: $font-title, 'Amiri' !important;
}

.font-arabic {
  font-family: $font-arabic !important;
}
