@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:300,400');
@import '~devicon/devicon.min.css';

$font-primary: 'Lato', sans-serif;
$font-accent: 'Oswald', serif;
$font-devicon: 'devicon';
