@import url('https://fonts.googleapis.com/css?family=Lato|Poppins');
@import '~devicon/devicon.min.css';

$font-primary: 'Lato', sans-serif;
$font-title: 'Poppins', serif;
$font-devicon: 'devicon';

.font-primary {
  font-family: $font-primary !important;
}

.font-title {
  font-family: $font-title !important;
}
