// Breakpoints
@import './breakpoints';

// Colors
$color-primary: #1cb495 !default;
$color-secondary: #1a82c3 !default;
// $color-success: $color-primary !default;
$color-success: #67c23a !default;
$color-warning: #eb9e05 !default;
$color-danger: #fa5555 !default;
$color-info: #878d99 !default;
$color-white: #fff !default;

// Social colors

$color-instagram: #e4405f;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-facebook: #3b5999;
$color-youtube: #cd201f;
